
body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  width: 80%;
  margin: auto;
  text-decoration-color: #140303;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
}

header .logo{
  padding-top: 1.2rem;
}

header .checkout{
  width: 2.5%;
  height: 3%;
  align-items: center;
}


/* CHECKOUT CART */

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.checkoutcontainer {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.payInfo {
  width:75%;

}

input[type=text] {
  width: 75%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

/* END OF CHECKOUT CART */

footer {
  width: 100%;
  margin: auto;
  background: #FF9C51;
  box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  margin-top: 1rem;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

footer p{
  color: white;
}

.contacts{
  width: 80%;
}

.element {
  width: 100%;
  border-top-width: 0.15rem;
  border-top-style: none;
  border-top-color: black;
  padding: 2rem;
}

.element img{
  width: inherit;
}

.element2 {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}

.products{
  padding-bottom: 2rem;
  padding-top: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
  margin: 0;
}

.container {
  background-color: white;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  display: flex;
  padding: 2rem;
  text-align: center;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 250px;
  margin: auto;
  text-align: center;
  padding: 30px;
  background-color: white;
}

.card img{
  width: 35%;
}

.images {
  height: 30%;
  width: 40%;
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
}

.images img{
  width: 100%;
}

.banner{
  width: 100%;
  align-items: center;
}

.banner img{
  width: 100%;
}

#payment{
  background: #EFEFEF;
  margin: auto;
  padding: 1rem;
}

#pay_type{
  padding-right: 1rem;
}

h1 {
  font-weight: 800;
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-weight: 200;
  font-size: 1.5rem;
}

h3 {
  font-weight: 600;
  font-size: 1.1rem;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-top: 0.25rem;
}

ul {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-top: 0.25rem;
}

a {
  font-weight: 400;
  text-decoration: none;
}

a: active, a: hover, a: focus{
  color: #FF9C51;
}

nav {
  align-content: flex-end;
  padding-bottom: 2rem;
  background-color: #FFF;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
  /* drop shadow effect code Reference
  https://www.cssmatic.com/box-shadow
  */
}

nav img {
  align-self: flex-start;
  padding-left: 3rem;
  padding-right: 12rem;
  width: 10%;
}

nav a {
  padding-right: 2rem;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  color: #140303;
}

nav a:hover, nav a:focus {
  text-decoration: none;
  color: #FF9C51;
}

code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}

/* Styling for buttons */
.button-nav {
  display: inline-block;
  padding: 0.5rem;
  color: #140303;
  background-color: #EFEFEF;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;

  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.button-nav:hover, .button-nav:focus {
  background-color: #FF9C51;
  text-decoration: none;
  color: #FFF;
}

.button-submit {
  display: inline-block;
  padding: 0.5rem;
  margin-bottom: 1rem;
  color: #140303;
  background-color: #FFC131;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;

  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.button-submit:hover, .button-submit:focus {
  background-color: #FF9C51;
  text-decoration: none;
  color: #FFF;
}

.button-reset {
  display: inline-block;
  padding: 0.5rem;
  color: #140303;
  background-color: #EFEFEF;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;

  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.button-reset:hover, .button-reset:focus {
  background-color: #C5C5C5;
  text-decoration: none;
  color: #FFF;
}

/* PRODUCT LISTING CSS */

.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: auto;
  font-family: arial;
  padding: 10rem;
}

.price2 {
  color: grey;
  font-size: 22px;
  text-align: center;
}

.card2 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card2 button:hover {
  opacity: 0.7;
}

/* ///////////////////////// */



/* LEAVE A Comment FORM  */

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  .col-25 {
    margin-bottom: 20px;
    width:70%;
  }
}

/* ////////////////////////////////// */


/* CALENDAR Events */

:root {
  --body-bg: #FDFDFD;
  --thead-bg: #F7F9FB;
  --thead-color: hsl(210, 5%, 40%);
  --bd-color: #ebebeb;
  --time-color: hsl(210, 5%, 70%);

  --time-width: 75px;
  --sticky-height: 40px;
}

body {
  background: var(--body-bg);
  overflow-x: hidden;
}

.wrapper {
  padding: 15px;
  margin: 10em auto 30em;
  max-width: 1080px;
}

h1 {
  font-size: 9vmin;
  text-align: center;
  line-height: 1;
  color: #333;
  /* font-family: 'Courgette', cursive; */
}

.sticky-header {
  height: var(--sticky-height);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--body-bg);
  z-index: 7;
  position: sticky;
  top: 0;
  font-weight: 700;
  overflow: hidden;
}

.sticky-header span {
  opacity: 0;
  transform: translateY(-100%);
  transition: .4s;
}

.reveal .sticky-header span {
  opacity: 1;
  transform: none;
}

.table {
  position: relative;
  border: solid var(--bd-color);
  border-width: 0 1px 0 0;
  overscroll-behavior: contain;
}

.headers {
  top: var(--sticky-height);
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.04);
}

.tracks,
.scroller {
  display: flex;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.scroller {
  overflow-x: hidden;
  flex: 1;
}

.tracks {
  overflow: auto;
}

.tracks::-webkit-scrollbar,
.scroller::-webkit-scrollbar {
  display: none;
}

.track {
  flex: 1 0 22%;
}

.track + .track {
  margin-left: -1px;
}

.time {
  flex: 0 0 var(--time-width);
  position: -webkit-sticky;
  position: sticky;
  left: 0;
}

.headers .time {
  z-index: 5;
}

.tracks .time {
  box-shadow: 20px 0 50px rgba(0, 0, 0, 0.05);
}

time {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: .03em;
}

time {
  color: hsl(210, 5%, 70%);
  text-align: right;
}

.time .heading {
  justify-content: flex-end;
  padding-right: 1em;
  font-weight: 500;
  background: #F9F9F9;
}

.heading {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border: solid var(--bd-color);
  border-width: 1px;
  color: hsla(210, 5%, 40%, 1);
  z-index: 1;
  background: var(--thead-bg);
  font-weight: 700;
}

.entry {
  border: 1px solid #ebebeb;
  border-top: 0;
  background: var(--body-bg);
  height: 9em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.entry:not(:last-of-type) {
  border-bottom-style: dashed;
}

.track:last-of-type > div {
  border-right: 0;
}

.time .entry,
.time .heading {
  position: relative;
  border-color: transparent var(--bd-color) var(--bd-color) transparent;
  border-color: transparent var(--bd-color) transparent transparent;
}

.time .entry:after,
.time .heading:after {
  content: '';
  position: absolute;
  bottom: -1px;
  right: -1px;
  width: 50%;
  height: 1px;
  z-index: 3;
  background: linear-gradient(to left, var(--bd-color), var(--body-bg));
}

.double {
  height: 18em;
}
.treble {
  height: 27em;
}

.details {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 15px 30px -10px rgba(0,0,0,0.50);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
  border: 1px solid #EBECEE;
  padding: 10px;
  border-left: 5px solid var(--theme-bg);
  height: 100%;
}

h3 {
  font-size: 12px;
  background: var(--theme-bg);
  padding: 2px 5px;
  font-weight: 600;
  line-height: 1.4;
  border-radius: 2px;
  color: var(--theme-color);
  width: max-content;
}

.yellow {
  --theme-color: hsl(40, 50%, 30%);
  --theme-bg: #ffd800;
}

.turq {
  --theme-color: hsl(180, 50%, 30%);
  --theme-bg: #00facd;
}

.blue {
  --theme-color: hsl(200, 50%, 30%);
  --theme-bg: #52F0FA;
}

.purple {
  --theme-color: hsl(235, 75%, 90%);
  --theme-bg: #473BBE;
}

.green {
  --theme-color: #2d4710;
  --theme-bg: #86F250;
}

.gray {
  --theme-color: var(--thead-bg);
  --theme-bg: #BBBCBC;
}

p {
  font-size: 12px;
  color: #333;
  font-weight: 500;
  margin: 0;
}

p + p {
  color: #858585;
  margin-top: 5px;
  font-weight: 400;
}

.buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 6;
  height: 100%;
  padding: 1px 0;
  width: calc(100% - var(--time-width));
}

button {
  border-radius: 0;
  border: 0;
  padding: 5px;
  font: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: none !important;
  cursor: pointer;
  background: var(--thead-bg);
}

button > svg {
  line-height: 0;
  width: 30px;
  height: 30px;
  fill: var(--thead-color);
  pointer-events: none;
}

.btn-left {
  transform: scaleX(-1);
}


#top-of-site-pixel-anchor {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 15em;
  left: 0;
}

@media (max-width: 767px) {
  .track:not(.time) {
    flex: 1 0 calc(50% + 7px);
  }
}
/* ////////////////////////////////// */





/*
  COMBINED ELEMENTS -------------------
*/
